body {
  color: #666;
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  color: #fff;
  background-color: #000033;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  line-height: 200%;
}

nav {
  background-color: #90c7e3;
  font-weight: bold;
}

h2 {
  color: #3399cc;
  font-family: Georgia, "Times New Roman", Times, serif;
}

dt {
  color: #000033;
  font-weight: bold;
  font-size: 1.2em;
}

a {
  color: #5c7fa3;
}

.resort {
  color: #000033;
  font-size: 1.2em;
}

footer {
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
}
