/* Genral configurations */
* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7;
}

/* Utilities */
.wrapper {
  width: 80%;
  margin: auto;
  box-shadow: 5px 10px 20px 20px #333;
}

.bg-img {
  background: url(./images/back.png) no-repeat center center/cover;
  padding: 10px 0;
  height: 100vh;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.form-group > * {
  width: 100%;
}

.box {
  border: 1px solid #000;
  padding: 5px;
}

.title {
  font-weight: 400;
  letter-spacing: 0.3rem;
  color: #c7832f;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  background-color: #c7832f;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

/* Navbar */
nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 0.3em;
  padding: 0 10px;
  color: #fff;
}

/* Main */
main {
  margin: 10px;
  background-color: #fff;
}

main section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}

main section form fieldset {
  background-color: #e7d68f;
  border-radius: 20px;
  height: 100%;
}

main section form fieldset legend {
  background-color: #c7832f;
  color: #fff;
  padding: 5px;
}

main section .left-form,
main section .right-form {
  flex: 1;
}

main section .right-form {
  margin-left: 20px;
}

main section .left-form .form-group:last-child input {
  width: 5%;
}

main section .left-form .form-group:nth-child(12) input {
  width: 15%;
}

main section .right-form .form-group:last-child {
  display: flex;
  flex-direction: column;
}

main section .right-form textarea {
  width: auto;
  margin-top: 10px;
}

main .command {
  padding: 10px;
  text-align: center;
}

main .command > * {
  padding: 5px 12px;
  margin-left: 20px;
  font-size: 1.2rem;
}

/* Footer */
footer {
  font-style: italic;
  background-color: #956b24;
  color: #fff;
  font-size: 90%;
  padding: 5px 0;
  text-align: center;
}
