/* General specifications */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #000;
}

/* Utilities */
.wrapper {
  max-width: 80%;
  margin: auto;
  box-shadow: 5px 10px 8px 10px #333;
  /* background-color: #fff; */
}

.bg-img {
  background: url(./back.png) no-repeat center center/cover;
  opacity: 0.8;
}

/* .container {
  background-color: #fff;
  margin: 10px;
} */

.title {
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: #c7832f;
  padding-bottom: 20px;
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.form-group > * {
  margin: 5px;
  padding: 2px;
  width: 100%;
}

.form-group .box {
  border: 1px solid #333;
}

.form-group .box label,
.form-group .box input {
  display: inline;
}

.left-form div:last-child input {
  width: 5%;
}

.right-form div:last-child {
  display: flex;
  flex-direction: column;
}

#frequency {
  width: 20%;
}

.sec-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sec-button button {
  margin-left: 20px;
  padding: 5px;
}

/* Header */
header {
  background-color: #c7832f;
  padding-bottom: 10px;
  opacity: 0.8;
  border-bottom: 1px solid #000;
}

/* Navbar */
nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  padding: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #fff;
}

/* Main */
main {
  background-color: #fff;
  margin: 10px;
}

main section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;
}

main section form {
  font-size: 80%;
  width: 100%;
  padding: 8px;
}

main section form fieldset {
  border-radius: 20px;
  padding: 15px;
  background-color: #e7d68f;
  height: 100%;
}

main section form legend {
  background-color: #c7832f;
  color: #fff;
  padding: 3px;
}
