<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CDN link to use icons from fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
      integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Portfolio::About</title>
  </head>
  <body>
    <header class="alt-header">
      <div class="container">
        <nav class="navbar">
          <h1 id="logo">
            <a href="index.html"><i class="fas fa-terminal"></i><span id="blink"> &#9640;<span></a>
          </h1>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html" class="current">About</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>                
        <!-- <div id="cover">        
        <div id="circle"></div>
        <div id="pointer-container">
          <span id="pointer"></span>
        </div>
      </div>  -->
      </div>           
    </header>
    <main>
      <div class="container">
      <section id="about-a">
          <h3 class="section-title pt-3">About Me</h3>
          <div class="underline"></div>
          <p class="lead pt-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            veniam.
          </p>
          <div class="card mt-3">
            <div class="flex-container">
              <img src="../images/profile/profile.jpg" alt="Profile picture">
              <div class="about-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis sapiente, deleniti quidem, vero cum aspernatur repellendus, quia laborum cupiditate nobis asperiores voluptate? Consectetur, tempore praesentium? Nesciunt at magnam reprehenderit tempora!
              </div>            
            </div>
          </div>          
        </section>
        <section id="about-b">
          <div class="flex-container pt-1">
            <div class="box">              
              <i class="fas fa-project-diagram fa-3x"></i>
              <h3 class="section-title pt-2">Projects</h3>
              <p class="lead">#5</p>
            </div>
            <div class="box bg-light">
              <i class="fas fa-award fa-3x"></i>
              <h3 class="section-title pt-2">Awards</h3>
              <p class="lead">#2</p>
            </div>
            <div class="box">
              <i class="fas fa-book-open fa-3x"></i>            
              <h3 class="section-title pt-2">Publications</h3>
              <p class="lead">#1</p>
            </div>
          </div>
        </section>
        <section id="about-c">          
            <h3 class="section-title pt-3">Areas of expertise</h3>
            <div class="underline"></div>
            <p class="lead pt-1">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
              veniam.
            </p>
            <div class="grid-container pt-1">
              <div class="box">              
                <i class="fas fa-desktop fa-3x"></i>
                <h3 class="section-title pt-2">Frontend</h3>
                <a href="" class="btn btn-secondary">View more</a>
              </div>
              <div class="box bg-light">
                <i class="fas fa-database fa-3x"></i>
                <h3 class="section-title pt-2">Backend</h3>
                <a href="" class="btn btn-primary">View more</a>                
              </div>
              <div class="box bg-light">
                <i class="fas fa-infinity fa-3x"></i>            
                <h3 class="section-title pt-2">Devops</h3>
                <a href="" class="btn btn-primary">View more</a>
              </div>
              <div class="box">
                <i class="fas fa-microchip fa-3x"></i>            
                <h3 class="section-title pt-2">Embedded Sys.</h3>
                <a href="" class="btn btn-secondary">View more</a>
              </div>
            </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="container">
        <p>Copyright &copy;. All Rights Reserved 2020 - Leandro Machado</p>
        <div class="social">
          <p>Follow me</p>
          <a href="https://www.facebook.com/leandro.fahur/" target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://www.instagram.com/leandrofahur/" target="_blank"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/leandro-miranda-fahur-machado/"
            target="_blank"
            ><i class="fab fa-linkedin"></i
          ></a>
          <a href="https://github.com/leandrofahur" target="_blank"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </footer>
    <script src="../js/action.js"></script>
  </body>
</html>
