<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <!-- CDN link to use icons and font from semantic UI -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
      crossorigin="anonymous"
    />
    <!-- Link to style.css -->
    <link rel="stylesheet" href="../css/style.css">
    <title>Portfolio::Home</title>
  </head>
  <body>
    <header id="home-header">
      <div class="container">
        <nav class="navbar">
          <h1 class="logo">
            <a href="index.html"><i class="terminal icon"></i><span id="blink"> &#9640;<span></a>
          </h1>
          <ul>
            <li><a href="index.html" class="current">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="work.html">Work</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>        
        <div class="main-header-content">                    
            <h1 id="title">Time</h1>                
            <div class="space">              
              <div class="sun">      
                <i class="massive desktop icon"></i>
              </div>       
              <div class="planet-1">
                <i class="massive node icon"></i>
              </div>
              <div class="planet-2">
                <i class="massive react icon"></i>
              </div>
              <div class="planet-3">
                <i class="massive js icon"></i>
              </div>
              <div class="planet-4">
                <i class="massive angular icon"></i>                
              </div>       
            </div>
            <h3 class="typeEffect" data-entry="the most precious resource you have..."></h3>                 
        </div>
      </div>
    </header>
    <footer>
      <div class="container">
        <p>Copyright &copy;. All Rights Reserved 2020 - Leandro Machado</p>
        <div class="social">
          <p>Follow me</p>
          <a href="https://www.facebook.com/leandro.fahur/" target="_blank"
            ><i class="large facebook icon"></i
          ></a>
          <a href="https://www.instagram.com/leandrofahur/" target="_blank"
            ><i class="large instagram icon"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/leandro-miranda-fahur-machado/"
            target="_blank"
            ><i class="large linkedin icon"></i
          ></a>
          <a href="https://github.com/leandrofahur" target="_blank"
            ><i class="large github icon"></i
          ></a>
        </div>
      </div>
    </footer>
    <script src="../js/actions.js"></script>
  </body>
</html>
