/* Global configurations */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

:root {
  --primary-color: #ffd166;
  --secondary-color: #306844;
  --light-color: #faf0e6;
  --dark-color: #111;
}

/* General configurations */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  line-height: 1.7;
  color: #fff;
  background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #fff;
}

/* Utilities */
.container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
}

.current {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

#title {
  font-size: 3rem;
  font-weight: 400;
}

/* Clock animation */
.space {
  display: inline-block;
  width: 250px;
  height: 250px;
  margin: auto;
  animation: rotate 12s linear forwards infinite;
}

.sun {
  width: 80px;
  height: 80px;
  color: var(--light-color);
  border-radius: 50%;
  position: relative;
  top: 85px;
  left: 85px;
  animation: rotate-counter 12s linear forwards infinite;
}

.sun i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet-1 {
  width: 80px;
  height: 80px;
  color: #43853d;
  border-radius: 50%;
  position: relative;
  top: -120px;
  left: -40px;
  animation: rotate-counter 12s linear forwards infinite;
}

.planet-1 i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet-2 {
  width: 80px;
  height: 80px;
  color: #61dafb;
  border-radius: 50%;
  position: relative;
  top: -200px;
  left: 210px;
  animation: rotate-counter 12s linear forwards infinite;
}

.planet-2 i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet-3 {
  width: 80px;
  height: 80px;
  color: #f7df1e;
  position: relative;
  top: -30px;
  left: 210px;
  animation: rotate-counter 12s linear forwards infinite;
}

.planet-3 i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planet-4 {
  width: 80px;
  height: 80px;
  color: #b52e31;
  border-radius: 50%;
  /* background-color: var(--dark-color); */
  position: relative;
  top: -110px;
  left: -40px;
  animation: rotate-counter 12s linear forwards infinite;
}

.planet-4 i {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counter {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Header */
#home-header {
  background: url("../images/cover/universe.jpg") no-repeat center center/ cover;
  height: 100vh;
  position: relative;
}

/* #home-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 10;
} */

#home-header .main-header-content {
  text-align: center;
}

#home-header .main-header-content h1 {
  font-size: 5rem;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 140px;
}

#home-header .main-header-content h3 {
  font-size: 1.5rem;
  padding-top: 10px;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  padding: 10px;
}

.navbar ul li a {
  font-size: large;
  letter-spacing: 0.1rem;
}

.navbar ul li a:hover {
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
  transition: linear 0.2s;
}

.navbar h1 i {
  color: var(--primary-color);
}

/* Footer */
footer {
  background-color: var(--dark-color);
  font-size: 80%;
  font-style: italic;
  padding: 1rem 0;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer .container > *:first-child {
  margin: auto 0;
}

footer .social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
}

footer .container .social > * {
  padding: 0 0.5rem;
  margin: auto;
}

footer .social .icon:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}
