/* General Configurations */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7rem;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

.current {
  color: red;
  background-color: #f4f4f4;
  border-radius: 5px;
}

#title {
  font-size: 3rem;
  padding: 1rem 0;
}

/* Navbar */
.navbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 1rem;
  align-items: center;
  justify-self: center;
  background-image: linear-gradient(to right, red, orange, red);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.navbar ul li {
  /* padding: 1rem; */
  justify-content: center;
  text-align: center;
}

.navbar ul li a {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 1rem;
  margin: 0 0.05rem;
}

.navbar h1 .fab {
  margin: 0.5rem 0;
  padding: 1rem;
  color: #fff;
}

.navbar ul li a:hover,
.navbar h1 .fab:hover {
  cursor: pointer;
  color: red;
  background-color: #f4f4f4;
  border-radius: 5px;
}

/* Header */
header {
  background: url(./images/covers/ScienceWorld.jpeg) no-repeat center
    center/cover;
  height: 100vh;
}
