:root {
  --primary-color: #ff0000;
  --secondary-color: #ffffc0;
  --dark-color: #333;
  --light-color: #f4f4f4;
}

/* General Configurations */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7rem;
}

h1,
h2,
h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--dark-color);
}

/* Utilities */
.container {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
}

/* Navbar */
.navbar {
}
